[Unit]
Description= Server to retrieve atmospherical parameters from BME280 sensor through commands
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/ADE-MASTER/Desktop/proyecto/sql
Restart=yes

[Install]
WantedBy=multi-user.target
